.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 97px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 60px 97px 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 97px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 543px;
}

.u-section-2 .u-image-1 {
  width: 323px;
  height: 461px;
  margin: 41px auto 0 113px;
}

.u-section-2 .u-video-1 {
  width: 561px;
  height: 314px;
  margin: -387px 113px 60px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-image-1 {
    height: 421px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-2 .u-video-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 302px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}