.u-section-1 .u-sheet-1 {
  min-height: 603px;
}

.u-section-1 .u-video-1 {
  width: 1020px;
  height: 574px;
  margin: 0 auto 29px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-video-poster-1 {
  background-image: url("images/Showreel2024thumb2.png");
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 522px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 462px;
  width: 1020px;
  margin: 30px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-2 .u-group-1 {
    --radius: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 706px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 34px auto 0;
}

.u-section-3 .u-video-1 {
  width: 474px;
  height: 267px;
  margin: 31px auto 0 80px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-2 {
  width: 474px;
  height: 267px;
  margin: 30px auto 0 80px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 606px;
  margin: -564px 80px 0 584px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-video-1 {
    margin-left: 66px;
  }

  .u-section-3 .u-video-2 {
    margin-left: 66px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 192px;
    margin-left: 0;
  }

  .u-section-3 .u-video-2 {
    width: 340px;
    height: 192px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 675px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 1px 125px 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: -36px auto 0 103px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 606px;
  margin: 31px 583px 0 81px;
}

.u-section-4 .u-custom-html-2 {
  height: auto;
  min-height: 606px;
  margin: -606px 81px 1px 583px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 464px;
    margin-left: 0;
  }

  .u-section-4 .u-custom-html-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: 244px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -132px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 91px;
    margin-right: 64px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 111px;
    margin-right: 79px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -139px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-custom-html-2 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 412px;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 392px;
  width: 1020px;
  margin: 16px auto 4px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }
}