.u-section-1 .u-sheet-1 {
  min-height: 556px;
}

.u-section-1 .u-video-1 {
  width: 935px;
  height: 526px;
  margin: 0 auto 30px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-video-poster-1 {
  background-image: url("images/Showreel2024thumb2.png");
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 522px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 462px;
  width: 1020px;
  margin: 30px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-group-1 {
    --radius: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 490px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-2 .u-group-1 {
    min-height: 634px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-group-1 {
    min-height: 998px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 684px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 34px auto 0;
}

.u-section-3 .u-video-1 {
  width: 453px;
  height: 255px;
  margin: 30px auto 0 113px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-2 {
  width: 452px;
  height: 255px;
  margin: 30px auto 0 113px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 574px;
  margin: -540px 113px 10px 596px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-video-1 {
    margin-left: 14px;
  }

  .u-section-3 .u-video-2 {
    margin-left: 15px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 14px;
    margin-left: 496px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-3 .u-video-1 {
    margin-left: auto;
  }

  .u-section-3 .u-video-2 {
    margin-left: auto;
  }

  .u-section-3 .u-custom-html-1 {
    width: 431px;
    margin: 30px auto 9px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    margin-top: -540px;
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-video-2 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 687px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: 1px auto 0 115px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  text-decoration: underline !important;
  margin: -36px 137px 0 auto;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 600px;
  margin: 30px 594px 0 115px;
}

.u-section-4 .u-custom-html-2 {
  height: auto;
  min-height: 600px;
  margin: -600px 115px 20px 594px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 14px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 37px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 482px;
    margin-left: 14px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-right: 14px;
    margin-left: 496px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1362px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 640px;
    margin-right: auto;
  }

  .u-section-4 .u-custom-html-1 {
    width: 431px;
    margin-top: -646px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-custom-html-2 {
    width: 431px;
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: -6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 96px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 611px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -637px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-custom-html-2 {
    margin-top: 67px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 412px;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 392px;
  width: 740px;
  margin: 16px auto 4px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }
}